*{
    padding: 0;
    margin: 0;
}
.body{
    background: url("snake1.jpg");
    min-height: 100vh;
   background-size:125vw 120vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
#board{
    background: linear-gradient(rgb(161, 215, 236),rgb(165, 227, 165));
    width: 90vmin;
    height:95vmin;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}
.head{
    background:linear-gradient(yellow,green);
    border: 1px solid white;
    border-radius: 13px;
}
.snake{
    background-color:yellow;
    border-radius: 20px;
    border: .5px solid white;
}
.food{
    background-color: red;
    border-radius: 20px;
    border: .5px solid white;
}